.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 53%;

  width: 80%;

  margin:0 auto;
  color: #282828 !important;
  text-align: center;
  padding-top: 56px;
}

.container-align-left {
  text-align: left;
}

.ap-footer {
  display: none;
}

.main-text {
  font-size: 16px;
  margin-top: -56px;
}

html, body, .container{
    height: 100%;
    margin:0;
    padding:0;
}

.content {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding: 10px;
    padding-bottom: 80px;

}

#upper-bar-main {
    display: flex;
    align-items: center;
    justify-content: center;


}


#upper-bar-main p {
  font-size: 32px;
  color: #2E4552;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 10px 10px 0px 10px;
}


.map-section {
    display: flex;
    color: #2E4552;
    text-align: center;
    flex-direction: column;
    height: 10%;
}

.map-section h1 {
    font-size: 66px;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}

.map-section p {
    font-size: 20px;
    z-index:1;

}

.map-section img {
    width: 100%;
    flex-shrink: 3;
    position: relative;
    top: -30px;
    margin-bottom: -80px;

}

.main-add-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $brand;
    font-size: 24px;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
}
.main-add-map p {
  margin: 0;
  font-size: 14px;
}
.decoration-none {
  text-decoration: none;
  color: #ffffff;
}

.main-add-map:hover {
  color: white;
}
.bottom-bar {

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
  padding-top: 8px;
  border-radius: 12px 12px 0 0;

}
.bottom-bar a {
    color: $brand !important;
}

.bottom-button p {
    color: $brand !important;
    font-size: 12px;
    font-weight: bolder;
    padding-top: 0;
    margin: 0;
}

.bottom-button {
    text-align: center;
}

.bottom-button i {
  font-size: 2rem;
}

.upper-bar .logo-n-text p {
    font-size: 32px;
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 10px 10px 0px 10px;
}

.logo-n-text {
    display: flex;
    align-items: center;
}

.upper-bar p {
    font-size: 24px;
    color: white;
    margin-top: 15px;
    border-radius: 10px 10px 0px 10px;
}

.upper-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
}

.logo {
  width: 200px;
}

.modal-dialog {
  h5, p, li, i {
    color: $brand
  }
}
.btn-secondary {
  background-color: $brand;
  border: 0;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    100% { opacity: 1 }
  }
