// Import page-specific CSS files here.
@import "home";
@import "sign_in_up";
@import "create_flight";


.container-index {
  margin: 5%;
  border-radius: 7px;
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
}


.show-card-index{
  color: $brand;
  padding: 0 20px;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  margin-bottom: 0;
}


.container-show{
  h2 {
    color: black;
  }
}

.flexbox-panel {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     align-content: center;
     border-bottom: 1px solid lightgray;
  h5{
    margin-bottom: 0px;
  }
}



.flex-item-left{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.flex-item-right{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: flex-end;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
  text-align: right;
}

.flexbox-panel-booked {
  align-items: flex-end;
   display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-content: center;
     margin-top: 16px;
  h5{
    margin-bottom: 0px;
  }
}

.flex-item-right-booked{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: flex-end;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}


.top-show-card-index{
  background: white;
  color: $brand;
  padding: 16px 20px;
  border-radius: 14px;
  // margin-bottom: 8px;
  // margin-top: 8px;
  p {
    margin: 0;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.top-mark-index {
  text-align: center;
  position: relative;
  bottom: 15px;
  margin-top: 30px;
}



.main-add-map-index-2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brand;
  font-size: 24px;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  input{
    font-weight: bold;
  }
}

.top-show-card-booked{
  background: white;
  color: $brand;
  padding: 16px 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  p {
    margin: 0;
  }
}

.show-card-index-booked {
  color: $brand;
  padding: 20px 20px 0 20px;
  // margin-bottom: -36px;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.show-card-index-inbound {
  color: $brand;
  padding: 0 20px 20px 20px;
  margin-bottom: 0;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}
