// Import page-specific CSS files here.
@import "home";
@import "sign_in_up";
@import "create_flight";


.container-index {
  margin: 5%;
  border-radius: 7px;

}

.show-card{
}


.top-show-card{
  color: black;
}

.container-show{
  h2 {
    color: black;
  }
}
