
.profile {
    text-align: center;
}

.username {
    font-size: 30px;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 50px;
}
.user-info {
    text-align: left;
    margin-top: 25px;
    margin-left: 10px;
}

.user-info h3 {
    font-size: 22px;
    padding-top: 0px;
    margin-bottom: 15px;
}

.user-info p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
