
.icons_overview {
  display: grid;
  grid-template-columns: 0.25fr 1fr 5px 0.25fr 1fr;
    grid-template-rows: repeat(3, 0.5fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 30px;
}

.font_text {
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #83D644;
  border-radius: 7px;
  padding: 4px;
  width: 100%;
  text-align: center;
}

.img-show-page {
  width: 38px;
  height: 30px;
  object-fit: cover;
}

.font_h2 {
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
}

.title {
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
}
.img-show-page-arrow-back {
  transform: scaleX(-1);
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 5%;
  margin: 0 auto;
}

.show-card{
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-show-page-flag-trips {
  width: 43px;
  height: auto;
  object-fit: cover;
  border-radius: 40%;
  margin: 0 auto;
}

.img-show-page-flag-flights {
  width: 45px;
  height: auto;
  object-fit: cover;
  border-radius: 40%;
  margin: 0 auto;
}

.img-show-page-arrow-flights {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 5%;
  margin: 0 auto;
}

.img-show-page-arrow-trips {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 5%;
  margin: 0 auto;
}


.flexbox-panel {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     align-content: center;
}

.flex-item {
  // flex: 0 1 auto;
  // flex-grow: 0;
  // flex-shrink: 1;
  // flex-basis: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}


.container-show {
    margin: 5%;
    box-shadow: 0px 0px 6px #9A9A9A;
    border-radius: 7px;
}

.header {
  position: relative;
  margin: 5%;
  margin-bottom: 30px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #2E4552;
  font-family: 'Overpass', sans-serif;
}

.further_info {
  margin-top: 30px;
  padding-bottom: 80px;
}

.fas {
  color: #2E4552;
  font-size: 30px;
}
