.sign-in-up {
  padding:20px;
  h2 {
    text-align: center;
  }
  .form-actions input {
    background-color: $brand;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  a {
    color: $brand;
    margin-left: 5px;
    text-decoration: none;
  }

}
