<%# @outbound_flights
@indbound_flights %>

<div class="container-show">
  <h2> Outbound flights </h2>
  <%= render "booking", flight_instance: @outbound, results: @outbound_flights %>
  <h2> Inbound flights </h2>
  <%= render "booking", flight_instance: @inbound, results: @inbound_flights %>
</div>
