 <div class="bottom-bar">
      <div class="bottom-button">
        <%= link_to root_path do %>
        <p style="font-size: 39px;">⌂</p>
        <%# <p>Home</p> %>
        <% end %>
      </div>
      <div class="bottom-button">
        <%= link_to trips_path do %>
        <p class='' style="font-size: 34px;">✈</p>
        <%# <p>Trips</p> %>
        <% end %>
      </div>
      <div class="bottom-button">
        <%= link_to profile_path do %>
        <i class='far fa-user-circle'></i>
<%#         <p>Profile</p> %>
        <% end %>
      </div>
    </div>
