 <div class="bottom-bar">
      <div class="bottom-button">
        <%= link_to root_path do %>
        <i class='fas fa-home'></i>
        <p>Home</p>
        <% end %>
      </div>
      <div class="bottom-button">
        <%= link_to trips_path do %>
        <i class='fas fa-plane'></i>
        <p>Trips</p>
        <% end %>
      </div>
      <div class="bottom-button">
        <%= link_to profile_path do %>
        <i class='fas fa-user-circle'></i>
        <p>Profile</p>
        <% end %>
      </div>
    </div>
