<div class="container">
        <div class="content">
        <div id="upper-bar-main" id="home">
           <%= image_tag "Traveld-logo.png", class:"logo" %>
        </div>

        <div class="map-section">
            <h1>Hello!</h1>
            <p>Welcome to <strong>Traveld</strong>, We help you travel worry-free accross Europe, all you have to do is to enter your trip details to get all the needed information about the Corona restrictions through the visited countries </p>
            <img src="https://i.ibb.co/1rFDL7R/map.png" alt="World map">
        </div>
        <% if user_signed_in? %>
          <%= simple_form_for @trip do |f| %>
          <%= f.button :submit, class: "main-add-map"%>
          <% end %>
        <% else %>
        <%= link_to "Sign in / Sign up", new_user_session_path, class: "main-add-map" %>
        <% end %>

        </div>
</div>
