 <div class="container">
        <div class="content">
        <div id="upper-bar-main" id="home">
          <p>Traveld</p>
        </div>

        <div class="map-section">
            <h1>Hello!</h1>
            <p>Welcome to <strong>Traveld</strong>, We help you travel worry-free accross Europe, all you have to do is to enter your trip details to get all the needed information about the Corona restrictions through the visited countries </p>
            <img src="https://i.ibb.co/1rFDL7R/map.png" alt="World map">
        </div>
        <a href="#" class="main-add-map"><i class="fas fa-plus"></i>Add new map</a>
    </div>
</div>
