<%= image_tag "airp.jpg", style: "width:100%; height: 300px; object-fit:cover;" %>
<%# <img src="https://images.unsplash.com/photo-1510832303954-cc30cbf2b8db" style="width:100%; height: 300px; object-fit: cover;">%>
<div class="main-container">


  <h1>Discover <br>Covid-19 flight regulations</h1>
  <p class="main-text">Stop stressing, start flying potato</p>
  <% if user_signed_in? %>
    <div class="main-add-map">
      <%= link_to "Where to?", new_trip_path, class: "decoration-none" %>
      <p>>></p>
    </div>
  <% else %>
    <div class="main-add-map">
      <%= link_to "Sign in / Sign up", new_user_session_path, class: "decoration-none" %>
      <p>>></p>
    </div>
  <% end %>
</div>
