// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";




.cards {
  justify-content: center;
  margin: 16px;
  padding-bottom: 80px;
}

.card {
  width: 100%;
  height: 148px;
  border-radius: 10px;
  margin-bottom: 16px;
  display: flex;
  text-decoration: none;
  color: black;
  border: none;
}

.where {
  margin-top: 18px;
  margin-left: 18px;
}

.when {
  margin-left: 18px;
}

.flags {
  margin-left: 18px;
}

.arrows {
  display: flex;
}

.arrow {
  position: relative;
  left: 105px;

}

.triangle-image {
  margin-left: 5px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.flag  {
  width: 40px;
  border-radius: 40%;
}

.description {
  margin-left: 18px;
  margin-top: 6px;
}
