<div class="container">
        <div class="profile">
        <div id="upper-bar-main" id="home" >
          <p>@luke_wilkstan</p>
        </div>
        <img class="profile-img" src="https://i.pinimg.com/originals/d2/57/ef/d257ef22b46c7adb069354d31a9aace5.jpg" alt="Profile image">
            <div class="user-info">
            <div class="inf">
                <p>Email</p>
                <h3><%= @user.email %></h3>
            </div>
            <div class="inf">
                <p>Country</p>
                <h3>Germany</h3>
            </div>
            <div class="inf">
                <p>Vaccination status</p>
                <h3>Fully vaccinated</h3>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="bottom-button"><a href="/"><i class="fas fa-home"></i></a>
            <p class="active">Home</p>
        </div>
        <div class="bottom-button"><a href="/trips.html"><i class="fas fa-plane"></i></a>
            <p>Trips</p>
        </div>
        <div class="bottom-button"><a href="/profile.html" class="active"><i class="fas fa-user-circle"></i></a>
            <p>Profile</p>
        </div>
    </div>
</div>
