<div class="container">
        <div class="profile">
        <div id="upper-bar-main" id="home" >
          <p>Profile</p>
        </div>
        <img src="https://i.ibb.co/4g4pVGq/profile.png" alt="Profile photo">
        <p class="username">Name</p>
        <div class="user-info">
            <p>Email</p>
            <h3>name@example.com</h3>
            <p>Country</p>
            <h3>Germany</h3>
            <p>Vaccination status</p>
            <h3>Fully vaccinated</h3>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="bottom-button"><a href="/"><i class="fas fa-home"></i></a>
            <p class="active">Home</p>
        </div>
        <div class="bottom-button"><a href="/trips.html"><i class="fas fa-plane"></i></a>
            <p>Trips</p>
        </div>
        <div class="bottom-button"><a href="/profile.html" class="active"><i class="fas fa-user-circle"></i></a>
            <p>Profile</p>
        </div>
    </div>
</div>
